{"openapi":"3.1.0","info":{"title":"KhanaBook SaaS API","description":"Multi-Tenant SaaS backend for KhanaBook Lite","version":"v0.0.1"},"servers":[{"url":"https://kbook.iadv.cloud/api/v2","description":"Generated server url"}],"security":[{"Bearer Authentication":[]}],"tags":[{"name":"menu-extraction-controller","description":"Upload menu files and track extraction jobs"}],"paths":{"/sync/menuitem/{menuItemId}/unavailable":{"put":{"tags":["menu-item-controller"],"operationId":"markAsUnavailable","parameters":[{"name":"menuItemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/sync/menuitem/update-existing":{"put":{"tags":["menu-item-controller"],"operationId":"updateExisting","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MenuItemDTO"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/sync/menuitem/unavailable/all":{"put":{"tags":["menu-item-controller"],"operationId":"markAllAsUnavailable","responses":{"200":{"description":"OK"}}}},"/restaurants/payment-config/easebuzz":{"get":{"tags":["restaurant-payment-config-controller"],"operationId":"getConfig","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"put":{"tags":["restaurant-payment-config-controller"],"operationId":"updateConfig","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/profile":{"get":{"tags":["business-admin-controller"],"operationId":"getProfile","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BusinessProfileResponse"}}}}}},"put":{"tags":["business-admin-controller"],"operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateBusinessProfileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BusinessProfileResponse"}}}}}}},"/business/menu/{itemId}":{"put":{"tags":["business-admin-controller"],"operationId":"updateMenuItem","parameters":[{"name":"itemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK"}}},"delete":{"tags":["business-admin-controller"],"operationId":"deleteMenuItem","parameters":[{"name":"itemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/business/menu/{itemId}/availability":{"put":{"tags":["business-admin-controller"],"operationId":"updateAvailability","parameters":[{"name":"itemId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/admin/sub-merchants/{id}":{"get":{"tags":["admin-sub-merchant-controller"],"operationId":"get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EasebuzzSubMerchant"}}}}}},"put":{"tags":["admin-sub-merchant-controller"],"operationId":"update","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EasebuzzSubMerchant"}}}}}},"delete":{"tags":["admin-sub-merchant-controller"],"operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/admin/sub-merchants/{id}/status":{"put":{"tags":["admin-sub-merchant-controller"],"operationId":"updateStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EasebuzzSubMerchant"}}}}}}},"/admin/commission/{subMerchantId}":{"put":{"tags":["admin-commission-controller"],"operationId":"update_1","parameters":[{"name":"subMerchantId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EasebuzzSubMerchant"}}}}}}},"/admin/commission/default":{"put":{"tags":["admin-commission-controller"],"operationId":"setDefault","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/sync/stocklog/push":{"post":{"tags":["stock-log-controller"],"operationId":"push","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StockLogDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushSyncResponse"}}}}}}},"/sync/restaurantprofile/push":{"post":{"tags":["restaurant-profile-controller"],"operationId":"push_1","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RestaurantProfileDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushSyncResponse"}}}}}}},"/sync/restaurantprofile/counters/increment":{"post":{"tags":["restaurant-profile-controller"],"operationId":"incrementCounters","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CounterResponse"}}}}}}},"/sync/menuitem/push":{"post":{"tags":["menu-item-controller"],"operationId":"push_2","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MenuItemDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushSyncResponse"}}}}}}},"/sync/menu/categories/push":{"post":{"tags":["category-controller"],"operationId":"push_3","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoryDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushSyncResponse"}}}}}}},"/sync/itemvariant/push":{"post":{"tags":["item-variant-controller"],"operationId":"push_4","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemVariantDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushSyncResponse"}}}}}}},"/sync/config/users/update-mobile":{"post":{"tags":["user-controller"],"operationId":"confirmMobileNumberUpdate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMobileRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/sync/config/users/update-mobile/request":{"post":{"tags":["user-controller"],"operationId":"requestMobileNumberUpdateOtp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMobileOtpRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/sync/config/users/push":{"post":{"tags":["user-controller"],"operationId":"push_5","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushSyncResponse"}}}}}}},"/sync/bills/push":{"post":{"tags":["bill-controller"],"operationId":"push_6","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BillDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushSyncResponse"}}}}}}},"/sync/bills/payments/push":{"post":{"tags":["bill-payment-controller"],"operationId":"push_7","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BillPaymentDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushSyncResponse"}}}}}}},"/sync/bills/items/push":{"post":{"tags":["bill-item-controller"],"operationId":"push_8","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BillItemDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushSyncResponse"}}}}}}},"/restaurants/payment-config/easebuzz/verify-otp":{"post":{"tags":["restaurant-payment-config-controller"],"operationId":"verifyOtp","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/restaurants/payment-config/easebuzz/resubmit":{"post":{"tags":["restaurant-payment-config-controller"],"operationId":"resubmit","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/restaurants/payment-config/easebuzz/resend-otp":{"post":{"tags":["restaurant-payment-config-controller"],"operationId":"resendOtp","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/restaurants/payment-config/easebuzz/onboard":{"post":{"tags":["restaurant-payment-config-controller"],"operationId":"onboard","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/restaurants/payment-config/easebuzz/kyc-access-key":{"post":{"tags":["restaurant-payment-config-controller"],"operationId":"kycAccessKey","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/restaurants/logo":{"post":{"tags":["restaurant-asset-controller"],"operationId":"uploadLogo","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"delete":{"tags":["restaurant-asset-controller"],"operationId":"deleteLogo","responses":{"200":{"description":"OK"}}}},"/payments/easebuzz/webhook":{"post":{"tags":["payment-controller"],"operationId":"paymentWebhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/payments/easebuzz/verify/{billId}":{"post":{"tags":["payment-controller"],"operationId":"verify","parameters":[{"name":"billId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/payments/easebuzz/sub-merchant/webhook":{"post":{"tags":["payment-controller"],"operationId":"subMerchantWebhookForm","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","additionalProperties":{"type":"string"}}},"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/payments/easebuzz/refund/{billId}":{"post":{"tags":["payment-controller"],"operationId":"refund","parameters":[{"name":"billId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/payments/easebuzz/refund/webhook":{"post":{"tags":["payment-controller"],"operationId":"refundWebhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/payments/easebuzz/payout/webhook":{"post":{"tags":["payment-controller"],"operationId":"payoutWebhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/payments/easebuzz/create-order":{"post":{"tags":["payment-controller"],"operationId":"createOrder","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/payments/easebuzz/cancel/{billId}":{"post":{"tags":["payment-controller"],"operationId":"cancel","parameters":[{"name":"billId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/menus/upload":{"post":{"tags":["menu-extraction-controller"],"summary":"Upload a menu file for extraction","description":"Accepts a PDF or image upload, stores it for the authenticated tenant, and starts async extraction.","operationId":"uploadMenu","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"Menu accepted for processing","content":{"application/json":{"schema":{"type":"object"}}}},"400":{"description":"Invalid upload payload"},"401":{"description":"Unauthorized"},"413":{"description":"File too large"},"500":{"description":"Upload failed"}},"security":[{"Bearer Authentication":[]}]}},"/marketplace/webhook/zomato":{"post":{"tags":["marketplace-webhook-controller"],"operationId":"zomatoWebhook","parameters":[{"name":"X-Hub-Signature-256","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/marketplace/webhook/swiggy":{"post":{"tags":["marketplace-webhook-controller"],"operationId":"swiggyWebhook","parameters":[{"name":"X-Hub-Signature-256","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/marketplace/config":{"get":{"tags":["marketplace-config-controller"],"operationId":"getConfig_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"post":{"tags":["marketplace-config-controller"],"operationId":"saveConfig","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/settlements/instant":{"post":{"tags":["instant-settlement-controller"],"operationId":"requestInstantSettlement","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/refunds/bill/{billId}":{"post":{"tags":["refund-controller"],"operationId":"initiateRefund","parameters":[{"name":"billId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/refunds/bill/{billId}/cancel":{"post":{"tags":["refund-controller"],"operationId":"cancelAndRefund","parameters":[{"name":"billId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/onboarding/prefill-from-profile":{"post":{"tags":["onboarding-controller"],"operationId":"prefillFromProfile","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/menu":{"get":{"tags":["business-admin-controller"],"operationId":"getMenu","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BusinessMenuListItemResponse"}}}}}}},"post":{"tags":["business-admin-controller"],"operationId":"createMenuItem","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BusinessMenuListItemResponse"}}}}}}},"/business/marketplace-orders/{orderId}/reject":{"post":{"tags":["marketplace-order-controller"],"operationId":"reject","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MarketplaceOrder"}}}}}}},"/business/marketplace-orders/{orderId}/mark-ready":{"post":{"tags":["marketplace-order-controller"],"operationId":"markReady","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MarketplaceOrder"}}}}}}},"/business/marketplace-orders/{orderId}/complete":{"post":{"tags":["marketplace-order-controller"],"operationId":"complete","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MarketplaceOrder"}}}}}}},"/business/marketplace-orders/{orderId}/accept":{"post":{"tags":["marketplace-order-controller"],"operationId":"accept","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MarketplaceOrder"}}}}}}},"/business/financing/options":{"post":{"tags":["financing-controller"],"operationId":"getLoanOptions","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/customers/opt-out":{"post":{"tags":["customer-data-controller"],"operationId":"optOut","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/customers/opt-in":{"post":{"tags":["customer-data-controller"],"operationId":"optIn","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/customers/export":{"post":{"tags":["customer-data-controller"],"operationId":"exportData","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/customers/delete":{"post":{"tags":["customer-data-controller"],"operationId":"deleteData","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/chargebacks":{"post":{"tags":["chargeback-controller"],"operationId":"createChargeback","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Chargeback"}}}}}}},"/business/chargebacks/{chargebackId}/resolve":{"post":{"tags":["chargeback-controller"],"operationId":"resolveChargeback","parameters":[{"name":"chargebackId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/chargebacks/score/{billId}":{"post":{"tags":["chargeback-controller"],"operationId":"scoreTransaction","parameters":[{"name":"billId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/bills/{billId}/manual-refund":{"post":{"tags":["business-admin-controller"],"operationId":"manualRefundBill","parameters":[{"name":"billId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefundBillRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BusinessOrderListItemResponse"}}}}}}},"/auth/signup":{"post":{"tags":["auth-controller"],"operationId":"signup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/auth/signup/request":{"post":{"tags":["auth-controller"],"operationId":"requestSignupOtp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignupOtpRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/auth/signup/dev":{"post":{"tags":["auth-controller"],"operationId":"devSignup","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/auth/signup/dev-admin":{"post":{"tags":["auth-controller"],"operationId":"devAdminSignup","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/auth/reset-password":{"post":{"tags":["auth-controller"],"operationId":"resetPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/auth/reset-password/request":{"post":{"tags":["auth-controller"],"operationId":"requestResetPasswordOtp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PasswordResetOtpRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/auth/refresh":{"post":{"tags":["auth-controller"],"operationId":"refresh","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/auth/logout":{"post":{"tags":["auth-controller"],"operationId":"logout","parameters":[{"name":"Authorization","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogoutBody"}}}},"responses":{"200":{"description":"OK"}}}},"/auth/login":{"post":{"tags":["auth-controller"],"operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/auth/google":{"post":{"tags":["auth-controller"],"operationId":"loginWithGoogle","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GoogleLoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthResponse"}}}}}}},"/auth/dev-reset":{"post":{"tags":["auth-controller"],"operationId":"devReset","responses":{"200":{"description":"OK"}}}},"/auth/change-password":{"post":{"tags":["auth-controller"],"operationId":"changePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v2/notifications/{id}/read":{"post":{"tags":["notification-controller"],"operationId":"markAsRead","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v2/notifications/mark-all-read":{"post":{"tags":["notification-controller"],"operationId":"markAllAsRead","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v2/notifications/device-token":{"post":{"tags":["notification-controller"],"operationId":"registerDeviceToken","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}},"delete":{"tags":["notification-controller"],"operationId":"unregisterDeviceToken","parameters":[{"name":"deviceId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/webhooks/dead-letter/{jobId}/replay":{"post":{"tags":["webhook-health-controller"],"operationId":"replayDeadLetter","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/admin/sub-merchants":{"get":{"tags":["admin-sub-merchant-controller"],"operationId":"list","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EasebuzzSubMerchant"}}}}}}},"post":{"tags":["admin-sub-merchant-controller"],"operationId":"create","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EasebuzzSubMerchant"}}}}}}},"/admin/sub-merchants/{id}/wire/kyc-profile-url":{"post":{"tags":["admin-sub-merchant-controller"],"operationId":"wireGetKycProfileUrl","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/sub-merchants/{id}/verify-otp":{"post":{"tags":["admin-sub-merchant-controller"],"operationId":"verifyOtp_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/sub-merchants/{id}/update-on-easebuzz":{"post":{"tags":["admin-sub-merchant-controller"],"operationId":"updateOnEasebuzz","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EasebuzzSubMerchant"}}}}}}},"/admin/sub-merchants/{id}/submit-to-easebuzz":{"post":{"tags":["admin-sub-merchant-controller"],"operationId":"submitToEasebuzz","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EasebuzzSubMerchant"}}}}}}},"/admin/sub-merchants/{id}/split-retrieve":{"post":{"tags":["admin-sub-merchant-controller"],"operationId":"retrieveTransactionSplit","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/sub-merchants/{id}/split-label":{"post":{"tags":["admin-sub-merchant-controller"],"operationId":"createSplitLabel","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/sub-merchants/{id}/resend-otp":{"post":{"tags":["admin-sub-merchant-controller"],"operationId":"resendOtp_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/sub-merchants/{id}/kyc-access-key":{"post":{"tags":["admin-sub-merchant-controller"],"operationId":"generateKycAccessKey","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/sub-merchants/{id}/cancel-transaction":{"post":{"tags":["admin-sub-merchant-controller"],"operationId":"cancelTransaction","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/sub-merchants/{id}/assign-id":{"post":{"tags":["admin-sub-merchant-controller"],"operationId":"assignSubMerchantId","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EasebuzzSubMerchant"}}}}}}},"/admin/sub-merchants/wire/payout-webhook":{"post":{"tags":["admin-sub-merchant-controller"],"operationId":"wireConfigurePayoutWebhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/sub-merchants/wire/insta-collect-webhook":{"post":{"tags":["admin-sub-merchant-controller"],"operationId":"wireConfigureInstaCollectWebhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/sub-merchants/settlements/on-demand":{"post":{"tags":["admin-sub-merchant-controller"],"operationId":"onDemandSettlement","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/sub-merchants/payout":{"post":{"tags":["admin-sub-merchant-controller"],"operationId":"initiatePayout","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/payment-routing/select-method":{"post":{"tags":["payment-routing-controller"],"operationId":"selectOptimalMethod","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/sync/stocklog/pull":{"get":{"tags":["stock-log-controller"],"operationId":"pull","parameters":[{"name":"lastSyncTimestamp","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"deviceId","in":"query","required":true,"schema":{"type":"string"}},{"name":"ignoreDeviceId","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StockLogDTO"}}}}}}}},"/sync/restaurantprofile/pull":{"get":{"tags":["restaurant-profile-controller"],"operationId":"pull_1","parameters":[{"name":"lastSyncTimestamp","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"deviceId","in":"query","required":true,"schema":{"type":"string"}},{"name":"ignoreDeviceId","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/RestaurantProfileDTO"}}}}}}}},"/sync/menuitem/pull":{"get":{"tags":["menu-item-controller"],"operationId":"pull_2","parameters":[{"name":"lastSyncTimestamp","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"deviceId","in":"query","required":true,"schema":{"type":"string"}},{"name":"ignoreDeviceId","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MenuItemDTO"}}}}}}}},"/sync/menu/categories/pull":{"get":{"tags":["category-controller"],"operationId":"pull_3","parameters":[{"name":"lastSyncTimestamp","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"deviceId","in":"query","required":true,"schema":{"type":"string"}},{"name":"ignoreDeviceId","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoryDTO"}}}}}}}},"/sync/master/pull":{"get":{"tags":["master-sync-controller"],"operationId":"pullMasterSync","parameters":[{"name":"lastSyncTimestamp","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"deviceId","in":"query","required":true,"schema":{"type":"string"}},{"name":"restaurantId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"ignoreDeviceId","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10000}},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MasterSyncResponseDTO"}}}}}}},"/sync/itemvariant/pull":{"get":{"tags":["item-variant-controller"],"operationId":"pull_4","parameters":[{"name":"lastSyncTimestamp","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"deviceId","in":"query","required":true,"schema":{"type":"string"}},{"name":"ignoreDeviceId","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemVariantDTO"}}}}}}}},"/sync/config/users/pull":{"get":{"tags":["user-controller"],"operationId":"pull_5","parameters":[{"name":"lastSyncTimestamp","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"deviceId","in":"query","required":true,"schema":{"type":"string"}},{"name":"ignoreDeviceId","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserDTO"}}}}}}}},"/sync/bills/pull":{"get":{"tags":["bill-controller"],"operationId":"pull_6","parameters":[{"name":"lastSyncTimestamp","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"deviceId","in":"query","required":true,"schema":{"type":"string"}},{"name":"ignoreDeviceId","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BillDTO"}}}}}}}},"/sync/bills/payments/pull":{"get":{"tags":["bill-payment-controller"],"operationId":"pull_7","parameters":[{"name":"lastSyncTimestamp","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"deviceId","in":"query","required":true,"schema":{"type":"string"}},{"name":"ignoreDeviceId","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BillPaymentDTO"}}}}}}}},"/sync/bills/items/pull":{"get":{"tags":["bill-item-controller"],"operationId":"pull_8","parameters":[{"name":"lastSyncTimestamp","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"deviceId","in":"query","required":true,"schema":{"type":"string"}},{"name":"ignoreDeviceId","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BillItemDTO"}}}}}}}},"/restaurants/payment-config/easebuzz/sub-merchant-status":{"get":{"tags":["restaurant-payment-config-controller"],"operationId":"getSubMerchantStatus","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/public/invoice/{restaurantId}/{billId}/{token}":{"get":{"tags":["invoice-controller"],"operationId":"getInvoice","parameters":[{"name":"restaurantId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"billId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"token","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/public/invoice/pending/{restaurantId}/{deviceId}/{localBillId}/{token}":{"get":{"tags":["invoice-controller"],"operationId":"getPendingInvoice","parameters":[{"name":"restaurantId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"deviceId","in":"path","required":true,"schema":{"type":"string"}},{"name":"localBillId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"token","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/payments/easebuzz/status/{billId}":{"get":{"tags":["payment-controller"],"operationId":"getStatus","parameters":[{"name":"billId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"refresh","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/payments/easebuzz/return":{"get":{"tags":["payment-controller"],"operationId":"handleReturn","parameters":[{"name":"params","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK"}}}},"/payments/easebuzz/refund-status/{billId}":{"get":{"tags":["payment-controller"],"operationId":"getRefundStatus","parameters":[{"name":"billId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/menus/jobs":{"get":{"tags":["menu-extraction-controller"],"summary":"List menu extraction jobs","description":"Returns all extraction jobs for the current restaurant, newest first.","operationId":"listJobs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}},"security":[{"Bearer Authentication":[]}]}},"/menus/jobs/{jobId}":{"get":{"tags":["menu-extraction-controller"],"summary":"Get menu extraction job status","description":"Returns the current status and extracted data for a previously uploaded menu extraction job.","operationId":"getJobStatus","parameters":[{"name":"jobId","in":"path","description":"Menu extraction job ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"Job found","content":{"*/*":{"schema":{"type":"object"}}}},"401":{"description":"Unauthorized"},"404":{"description":"Job not found"}},"security":[{"Bearer Authentication":[]}]}},"/marketplace/health":{"get":{"tags":["marketplace-config-controller"],"operationId":"healthCheck","parameters":[{"name":"platform","in":"query","required":false,"schema":{"type":"string","default":"SWIGGY"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/tax/summary":{"get":{"tags":["tax-compliance-controller"],"operationId":"getSummary","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/tax/gst-return":{"get":{"tags":["tax-compliance-controller"],"operationId":"getGstReturn","parameters":[{"name":"year","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"quarter","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/tax/gst-report":{"get":{"tags":["tax-compliance-controller"],"operationId":"getGstReport","parameters":[{"name":"year","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"month","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/tax/gst-report/csv":{"get":{"tags":["tax-compliance-controller"],"operationId":"getGstReportCsv","parameters":[{"name":"year","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"month","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/business/staff":{"get":{"tags":["business-admin-controller"],"operationId":"getStaff","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BusinessStaffListItemResponse"}}}}}}}},"/business/settlements/estimate":{"get":{"tags":["instant-settlement-controller"],"operationId":"getEstimate","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/refunds/summary":{"get":{"tags":["refund-controller"],"operationId":"getRefundSummary","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/refunds/refundable":{"get":{"tags":["refund-controller"],"operationId":"getRefundableOrders","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/refunds/reasons":{"get":{"tags":["refund-controller"],"operationId":"getReasonTaxonomy","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}}}}}}}},"/business/orders":{"get":{"tags":["business-admin-controller"],"operationId":"getOrders","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BusinessOrderListItemResponse"}}}}}}}},"/business/onboarding/progress":{"get":{"tags":["onboarding-controller"],"operationId":"getProgress","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/marketplace-setup":{"get":{"tags":["business-admin-controller"],"operationId":"getMarketplaceSetup","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BusinessMarketplaceSetupResponse"}}}}}}},"/business/marketplace-orders":{"get":{"tags":["marketplace-order-controller"],"operationId":"getOrders_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MarketplaceOrder"}}}}}}}},"/business/marketplace-orders/pending":{"get":{"tags":["marketplace-order-controller"],"operationId":"getPending","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MarketplaceOrder"}}}}}}}},"/business/marketplace-orders/counts":{"get":{"tags":["marketplace-order-controller"],"operationId":"getCounts","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}}}}}}}},"/business/lookup/gst":{"get":{"tags":["gst-fssai-controller"],"operationId":"lookupGst","parameters":[{"name":"gstin","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/lookup/fssai":{"get":{"tags":["gst-fssai-controller"],"operationId":"lookupFssai","parameters":[{"name":"fssaiNo","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/lookup/both":{"get":{"tags":["gst-fssai-controller"],"operationId":"lookupBoth","parameters":[{"name":"gstin","in":"query","required":false,"schema":{"type":"string"}},{"name":"fssaiNo","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/financing/eligibility":{"get":{"tags":["financing-controller"],"operationId":"getEligibility","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/dashboard":{"get":{"tags":["business-admin-controller"],"operationId":"getDashboard","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BusinessDashboardResponse"}}}}}}},"/business/customers/insights":{"get":{"tags":["customer-data-controller"],"operationId":"getInsights","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/customers/churn-risk":{"get":{"tags":["customer-data-controller"],"operationId":"getChurnRisk","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/business/commerce/unified-dashboard":{"get":{"tags":["unified-commerce-controller"],"operationId":"getUnifiedDashboard","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/commerce/cross-channel-insights":{"get":{"tags":["unified-commerce-controller"],"operationId":"getCrossChannelInsights","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/chargebacks/summary":{"get":{"tags":["chargeback-controller"],"operationId":"getSummary_1","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/business/chargebacks/reason-codes":{"get":{"tags":["chargeback-controller"],"operationId":"getReasonCodes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"string"}}}}}}}}},"/auth/check-user":{"get":{"tags":["auth-controller"],"operationId":"checkUser","parameters":[{"name":"phoneNumber","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/api/v2/notifications":{"get":{"tags":["notification-controller"],"operationId":"getNotifications","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/api/v2/notifications/unread-count":{"get":{"tags":["notification-controller"],"operationId":"getUnreadCount","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/webhooks/health":{"get":{"tags":["webhook-health-controller"],"operationId":"getHealthSummary","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/webhooks/dead-letter":{"get":{"tags":["webhook-health-controller"],"operationId":"getDeadLetterJobs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/admin/transactions":{"get":{"tags":["admin-transaction-controller"],"operationId":"list_1","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"restaurantId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageAdminTransactionResponse"}}}}}}},"/admin/sub-merchants/wire/lookup-by-key/{subMerchantKey}":{"get":{"tags":["admin-sub-merchant-controller"],"operationId":"wireLookupByKey","parameters":[{"name":"subMerchantKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/sub-merchants/wire/lookup-by-email":{"get":{"tags":["admin-sub-merchant-controller"],"operationId":"wireLookupByEmail","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/sub-merchants/settlements/retrieve":{"get":{"tags":["admin-sub-merchant-controller"],"operationId":"retrieveSettlements","parameters":[{"name":"date","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/settlements":{"get":{"tags":["admin-settlement-controller"],"operationId":"list_2","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AdminSettlementResponse"}}}}}}}},"/admin/reports/payment-dashboard":{"get":{"tags":["admin-reports-controller"],"operationId":"paymentDashboard","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/reports/commission":{"get":{"tags":["admin-reports-controller"],"operationId":"commissionReport","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/admin/payment-routing/recommendations":{"get":{"tags":["payment-routing-controller"],"operationId":"getRecommendations","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/payment-routing/history":{"get":{"tags":["payment-routing-controller"],"operationId":"getHistoricalRates","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/payment-metrics/trends":{"get":{"tags":["payment-metrics-controller"],"operationId":"trends","parameters":[{"name":"period","in":"query","required":false,"schema":{"type":"string","default":"daily"}},{"name":"days","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":7}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/admin/payment-metrics/overview":{"get":{"tags":["payment-metrics-controller"],"operationId":"overview","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/payment-metrics/failed-transactions":{"get":{"tags":["payment-metrics-controller"],"operationId":"failedTransactions","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/payment-metrics/anomalies":{"get":{"tags":["payment-metrics-controller"],"operationId":"anomalies","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object","additionalProperties":{"type":"object"}}}}}}}}},"/admin/developer/webhook-events":{"get":{"tags":["developer-portal-controller"],"operationId":"getWebhookEvents","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/developer/rate-limits":{"get":{"tags":["developer-portal-controller"],"operationId":"getRateLimits","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/developer/docs":{"get":{"tags":["developer-portal-controller"],"operationId":"getApiDocs","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/admin/dashboard/summary":{"get":{"tags":["admin-dashboard-controller"],"operationId":"getDashboardSummary","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminDashboardSummaryResponse"}}}}}}},"/admin/commission":{"get":{"tags":["admin-commission-controller"],"operationId":"list_3","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EasebuzzSubMerchant"}}}}}}}},"/admin/businesses":{"get":{"tags":["admin-dashboard-controller"],"operationId":"getBusinesses","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AdminBusinessListItemResponse"}}}}}}}},"/admin/businesses/{restaurantId}":{"get":{"tags":["admin-dashboard-controller"],"operationId":"getBusinessDetail","parameters":[{"name":"restaurantId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminBusinessDetailResponse"}}}}}}},"/admin/sub-merchants/{id}/dev-refresh":{"delete":{"tags":["admin-sub-merchant-controller"],"operationId":"devRefresh","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"MenuItemDTO":{"type":"object","properties":{"deviceId":{"type":"string"},"restaurantId":{"type":"integer","format":"int64"},"updatedAt":{"type":"integer","format":"int64"},"isDeleted":{"type":"boolean"},"serverUpdatedAt":{"type":"integer","format":"int64"},"createdAt":{"type":"integer","format":"int64"},"name":{"type":"string"},"categoryId":{"type":"integer","format":"int64"},"serverCategoryId":{"type":"integer","format":"int64"},"basePrice":{"type":"number"},"imageUrl":{"type":"string"},"isVeg":{"type":"boolean"},"isAvailable":{"type":"boolean"},"description":{"type":"string"},"sortOrder":{"type":"integer","format":"int32"},"overwriteExisting":{"type":"boolean"},"serverId":{"type":"integer","format":"int64"},"localId":{"type":"integer","format":"int64"},"categoryLocalId":{"type":"integer","format":"int64"}}},"UpdateBusinessProfileRequest":{"type":"object","properties":{"shopName":{"type":"string"},"shopAddress":{"type":"string"},"whatsappNumber":{"type":"string"},"email":{"type":"string"},"currency":{"type":"string"},"upiEnabled":{"type":"boolean"},"upiHandle":{"type":"string"},"upiMobile":{"type":"string"},"cashEnabled":{"type":"boolean"},"posEnabled":{"type":"boolean"},"zomatoEnabled":{"type":"boolean"},"swiggyEnabled":{"type":"boolean"},"ownWebsiteEnabled":{"type":"boolean"},"country":{"type":"string"},"timezone":{"type":"string"},"gstEnabled":{"type":"boolean"},"gstin":{"type":"string"},"isTaxInclusive":{"type":"boolean"},"gstPercentage":{"type":"number"},"customTaxName":{"type":"string"},"customTaxNumber":{"type":"string"},"customTaxPercentage":{"type":"number"},"fssaiNumber":{"type":"string"},"fssaiExpiryDate":{"type":"string","format":"date"},"gstExpiryDate":{"type":"string","format":"date"},"reviewUrl":{"type":"string"},"invoiceFooter":{"type":"string"},"showBranding":{"type":"boolean"},"maskCustomerPhone":{"type":"boolean"},"easebuzzEnabled":{"type":"boolean"}}},"BusinessProfileResponse":{"type":"object","properties":{"restaurantId":{"type":"integer","format":"int64"},"shopName":{"type":"string"},"shopAddress":{"type":"string"},"whatsappNumber":{"type":"string"},"email":{"type":"string"},"logoUrl":{"type":"string"},"logoVersion":{"type":"integer","format":"int32"},"currency":{"type":"string"},"upiEnabled":{"type":"boolean"},"upiHandle":{"type":"string"},"upiMobile":{"type":"string"},"cashEnabled":{"type":"boolean"},"posEnabled":{"type":"boolean"},"zomatoEnabled":{"type":"boolean"},"swiggyEnabled":{"type":"boolean"},"ownWebsiteEnabled":{"type":"boolean"},"country":{"type":"string"},"timezone":{"type":"string"},"gstEnabled":{"type":"boolean"},"gstin":{"type":"string"},"isTaxInclusive":{"type":"boolean"},"gstPercentage":{"type":"number"},"customTaxName":{"type":"string"},"customTaxNumber":{"type":"string"},"customTaxPercentage":{"type":"number"},"fssaiNumber":{"type":"string"},"fssaiExpiryDate":{"type":"string","format":"date"},"gstExpiryDate":{"type":"string","format":"date"},"reviewUrl":{"type":"string"},"invoiceFooter":{"type":"string"},"showBranding":{"type":"boolean"},"maskCustomerPhone":{"type":"boolean"},"easebuzzEnabled":{"type":"boolean"}}},"EasebuzzSubMerchant":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"restaurantId":{"type":"integer","format":"int64"},"subMerchantId":{"type":"string"},"status":{"type":"string"},"businessName":{"type":"string"},"legalEntityName":{"type":"string"},"businessType":{"type":"string"},"pan":{"type":"string"},"gst":{"type":"string"},"ifsc":{"type":"string"},"beneficiaryName":{"type":"string"},"businessAddress":{"type":"string"},"state":{"type":"string"},"fssaiNumber":{"type":"string"},"fssaiExpiryDate":{"type":"integer","format":"int64"},"contactEmail":{"type":"string"},"contactPhone":{"type":"string"},"kycStatus":{"type":"string"},"kycPortalUrl":{"type":"string"},"kycSubmittedAt":{"type":"integer","format":"int64"},"kycActivatedAt":{"type":"integer","format":"int64"},"commissionRate":{"type":"number"},"upiDeductionLtLimit":{"type":"number"},"dcDeductionGtTwoThousand":{"type":"number"},"bankName":{"type":"string"},"branchName":{"type":"string"},"splitLabel":{"type":"string"},"idProofUrl":{"type":"string"},"bankProofUrl":{"type":"string"},"businessProof1Type":{"type":"string"},"businessProof1Url":{"type":"string"},"businessProof2Type":{"type":"string"},"businessProof2Url":{"type":"string"},"easebuzzResponse":{"type":"string"},"createdAt":{"type":"integer","format":"int64"},"updatedAt":{"type":"integer","format":"int64"},"bankAccountNo":{"type":"string"}}},"StockLogDTO":{"type":"object","properties":{"deviceId":{"type":"string"},"restaurantId":{"type":"integer","format":"int64"},"updatedAt":{"type":"integer","format":"int64"},"isDeleted":{"type":"boolean"},"serverUpdatedAt":{"type":"integer","format":"int64"},"createdAt":{"type":"integer","format":"int64"},"variantId":{"type":"integer","format":"int64"},"menuItemId":{"type":"integer","format":"int64"},"serverMenuItemId":{"type":"integer","format":"int64"},"serverVariantId":{"type":"integer","format":"int64"},"changeAmount":{"type":"number"},"reason":{"type":"string"},"referenceId":{"type":"string"},"serverId":{"type":"integer","format":"int64"},"localId":{"type":"integer","format":"int64"},"variantLocalId":{"type":"integer","format":"int64"}}},"PushSyncResponse":{"type":"object","properties":{"successfulLocalIds":{"type":"array","items":{"type":"integer","format":"int64"}},"failedLocalIds":{"type":"array","items":{"type":"integer","format":"int64"}},"localToServerIdMap":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}}}},"RestaurantProfileDTO":{"type":"object","properties":{"deviceId":{"type":"string"},"restaurantId":{"type":"integer","format":"int64"},"updatedAt":{"type":"integer","format":"int64"},"isDeleted":{"type":"boolean"},"serverUpdatedAt":{"type":"integer","format":"int64"},"createdAt":{"type":"integer","format":"int64"},"shopName":{"type":"string"},"shopAddress":{"type":"string"},"whatsappNumber":{"type":"string"},"email":{"type":"string"},"fssaiNumber":{"type":"string"},"fssaiExpiryDate":{"type":"string"},"gstExpiryDate":{"type":"string"},"logoPath":{"type":"string"},"logoUrl":{"type":"string"},"logoVersion":{"type":"integer","format":"int32"},"country":{"type":"string"},"currency":{"type":"string"},"timezone":{"type":"string"},"gstEnabled":{"type":"boolean"},"gstin":{"type":"string"},"isTaxInclusive":{"type":"boolean"},"gstPercentage":{"type":"number"},"customTaxName":{"type":"string"},"customTaxNumber":{"type":"string"},"customTaxPercentage":{"type":"number"},"upiEnabled":{"type":"boolean"},"upiQrPath":{"type":"string"},"upiQrUrl":{"type":"string"},"upiQrVersion":{"type":"integer","format":"int32"},"upiHandle":{"type":"string"},"upiMobile":{"type":"string"},"cashEnabled":{"type":"boolean"},"posEnabled":{"type":"boolean"},"printerEnabled":{"type":"boolean"},"printerName":{"type":"string"},"printerMac":{"type":"string"},"paperSize":{"type":"string"},"autoPrintOnSuccess":{"type":"boolean"},"includeLogoInPrint":{"type":"boolean"},"dailyOrderCounter":{"type":"integer","format":"int64"},"lifetimeOrderCounter":{"type":"integer","format":"int64"},"lastResetDate":{"type":"string"},"sessionTimeoutMinutes":{"type":"integer","format":"int32"},"kitchenPrinterEnabled":{"type":"boolean"},"kitchenPrinterName":{"type":"string"},"kitchenPrinterMac":{"type":"string"},"kitchenPrinterPaperSize":{"type":"string"},"invoiceFooter":{"type":"string"},"reviewUrl":{"type":"string"},"zomatoEnabled":{"type":"boolean"},"swiggyEnabled":{"type":"boolean"},"easebuzzEnabled":{"type":"boolean"},"ownWebsiteEnabled":{"type":"boolean"},"showBranding":{"type":"boolean"},"maskCustomerPhone":{"type":"boolean"},"zomatoOutletId":{"type":"string"},"swiggyStoreId":{"type":"string"},"marketplaceNotes":{"type":"string"},"zomatoApiKey":{"type":"string"},"zomatoWebhookSecret":{"type":"string"},"swiggyApiKey":{"type":"string"},"swiggyWebhookSecret":{"type":"string"},"printCustomerWhatsapp":{"type":"boolean"},"lastResetDateProper":{"type":"string"},"serverId":{"type":"integer","format":"int64"},"localId":{"type":"integer","format":"int64"}}},"CounterResponse":{"type":"object","properties":{"dailyCounter":{"type":"integer","format":"int64"},"lifetimeCounter":{"type":"integer","format":"int64"}}},"CategoryDTO":{"type":"object","properties":{"deviceId":{"type":"string"},"restaurantId":{"type":"integer","format":"int64"},"updatedAt":{"type":"integer","format":"int64"},"isDeleted":{"type":"boolean"},"serverUpdatedAt":{"type":"integer","format":"int64"},"createdAt":{"type":"integer","format":"int64"},"name":{"type":"string"},"sortOrder":{"type":"integer","format":"int32"},"isActive":{"type":"boolean"},"serverId":{"type":"integer","format":"int64"},"localId":{"type":"integer","format":"int64"}}},"ItemVariantDTO":{"type":"object","properties":{"deviceId":{"type":"string"},"restaurantId":{"type":"integer","format":"int64"},"updatedAt":{"type":"integer","format":"int64"},"isDeleted":{"type":"boolean"},"serverUpdatedAt":{"type":"integer","format":"int64"},"createdAt":{"type":"integer","format":"int64"},"itemId":{"type":"integer","format":"int64"},"menuItemId":{"type":"integer","format":"int64"},"serverMenuItemId":{"type":"integer","format":"int64"},"variantName":{"type":"string"},"price":{"type":"number"},"stock":{"type":"number"},"trackStock":{"type":"boolean"},"isAvailable":{"type":"boolean"},"serverId":{"type":"integer","format":"int64"},"localId":{"type":"integer","format":"int64"},"itemLocalId":{"type":"integer","format":"int64"}}},"UpdateMobileRequest":{"type":"object","properties":{"newMobileNumber":{"type":"string","maxLength":10,"minLength":10,"pattern":"^\\d{10}$"},"otp":{"type":"string","pattern":"^\\d{6}$"}},"required":["newMobileNumber","otp"]},"UpdateMobileOtpRequest":{"type":"object","properties":{"newMobileNumber":{"type":"string","maxLength":10,"minLength":10,"pattern":"^\\d{10}$"}},"required":["newMobileNumber"]},"UserDTO":{"type":"object","properties":{"deviceId":{"type":"string"},"restaurantId":{"type":"integer","format":"int64"},"updatedAt":{"type":"integer","format":"int64"},"isDeleted":{"type":"boolean"},"serverUpdatedAt":{"type":"integer","format":"int64"},"createdAt":{"type":"integer","format":"int64"},"name":{"type":"string"},"email":{"type":"string"},"whatsappNumber":{"type":"string"},"role":{"type":"string"},"status":{"type":"string"},"isActive":{"type":"boolean"},"serverId":{"type":"integer","format":"int64"},"localId":{"type":"integer","format":"int64"}}},"BillDTO":{"type":"object","properties":{"deviceId":{"type":"string"},"restaurantId":{"type":"integer","format":"int64"},"updatedAt":{"type":"integer","format":"int64"},"isDeleted":{"type":"boolean"},"serverUpdatedAt":{"type":"integer","format":"int64"},"createdAt":{"type":"integer","format":"int64"},"dailyOrderId":{"type":"integer","format":"int64"},"dailyOrderDisplay":{"type":"string"},"lifetimeOrderId":{"type":"integer","format":"int64"},"orderType":{"type":"string"},"customerName":{"type":"string"},"customerWhatsapp":{"type":"string"},"subtotal":{"type":"number"},"gstPercentage":{"type":"number"},"cgstAmount":{"type":"number"},"sgstAmount":{"type":"number"},"customTaxAmount":{"type":"number"},"totalAmount":{"type":"number"},"paymentMode":{"type":"string"},"partAmount1":{"type":"number"},"partAmount2":{"type":"number"},"paymentStatus":{"type":"string"},"orderStatus":{"type":"string"},"createdBy":{"type":"integer","format":"int64"},"paidAt":{"type":"integer","format":"int64"},"lastResetDate":{"type":"string"},"cancelReason":{"type":"string"},"publicToken":{"type":"string","format":"uuid"},"serverId":{"type":"integer","format":"int64"},"localId":{"type":"integer","format":"int64"}}},"BillPaymentDTO":{"type":"object","properties":{"deviceId":{"type":"string"},"restaurantId":{"type":"integer","format":"int64"},"updatedAt":{"type":"integer","format":"int64"},"isDeleted":{"type":"boolean"},"serverUpdatedAt":{"type":"integer","format":"int64"},"createdAt":{"type":"integer","format":"int64"},"billId":{"type":"integer","format":"int64"},"serverBillId":{"type":"integer","format":"int64"},"amount":{"type":"number"},"paymentMode":{"type":"string"},"paidAt":{"type":"integer","format":"int64"},"serverId":{"type":"integer","format":"int64"},"localId":{"type":"integer","format":"int64"},"billLocalId":{"type":"integer","format":"int64"}}},"BillItemDTO":{"type":"object","properties":{"deviceId":{"type":"string"},"restaurantId":{"type":"integer","format":"int64"},"updatedAt":{"type":"integer","format":"int64"},"isDeleted":{"type":"boolean"},"serverUpdatedAt":{"type":"integer","format":"int64"},"createdAt":{"type":"integer","format":"int64"},"billId":{"type":"integer","format":"int64"},"serverBillId":{"type":"integer","format":"int64"},"itemName":{"type":"string"},"variantName":{"type":"string"},"menuItemId":{"type":"integer","format":"int64"},"serverMenuItemId":{"type":"integer","format":"int64"},"variantId":{"type":"integer","format":"int64"},"serverVariantId":{"type":"integer","format":"int64"},"quantity":{"type":"integer","format":"int32"},"price":{"type":"number"},"serverId":{"type":"integer","format":"int64"},"localId":{"type":"integer","format":"int64"},"billLocalId":{"type":"integer","format":"int64"},"itemTotal":{"type":"number"}}},"BusinessMenuListItemResponse":{"type":"object","properties":{"menuItemId":{"type":"integer","format":"int64"},"categoryName":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"foodType":{"type":"string"},"basePrice":{"type":"number"},"available":{"type":"boolean"},"stockStatus":{"type":"string"},"variantCount":{"type":"integer","format":"int64"},"updatedAt":{"type":"integer","format":"int64"}}},"MarketplaceOrder":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"restaurantId":{"type":"integer","format":"int64"},"billId":{"type":"integer","format":"int64"},"platform":{"type":"string"},"platformOrderId":{"type":"string"},"platformStatus":{"type":"string"},"orderStatus":{"type":"string"},"customerName":{"type":"string"},"customerPhone":{"type":"string"},"customerAddress":{"type":"string"},"subtotal":{"type":"number"},"taxAmount":{"type":"number"},"totalAmount":{"type":"number"},"paymentMode":{"type":"string"},"rawPayload":{"type":"string"},"acceptedAt":{"type":"integer","format":"int64"},"rejectedAt":{"type":"integer","format":"int64"},"rejectedReason":{"type":"string"},"readyAt":{"type":"integer","format":"int64"},"completedAt":{"type":"integer","format":"int64"},"createdAt":{"type":"integer","format":"int64"},"updatedAt":{"type":"integer","format":"int64"},"syncedAt":{"type":"integer","format":"int64"}}},"Chargeback":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"restaurantId":{"type":"integer","format":"int64"},"billId":{"type":"integer","format":"int64"},"easebuzzTxnId":{"type":"string"},"amount":{"type":"number"},"reasonCode":{"type":"string"},"reasonDescription":{"type":"string"},"status":{"type":"string"},"fraudScore":{"type":"number"},"evidenceUrl":{"type":"string"},"customerName":{"type":"string"},"customerPhone":{"type":"string"},"createdAt":{"type":"integer","format":"int64"},"resolvedAt":{"type":"integer","format":"int64"}}},"RefundBillRequest":{"type":"object","properties":{"refundAmount":{"type":"number"},"reason":{"type":"string"}}},"BusinessOrderListItemResponse":{"type":"object","properties":{"sourceType":{"type":"string"},"orderId":{"type":"integer","format":"int64"},"orderCode":{"type":"string"},"customerName":{"type":"string"},"customerContact":{"type":"string"},"orderStatus":{"type":"string"},"paymentStatus":{"type":"string"},"paymentMethod":{"type":"string"},"totalAmount":{"type":"number"},"gatewayPaidAmount":{"type":"number"},"refundAmount":{"type":"number"},"refundStatus":{"type":"string"},"refundMode":{"type":"string"},"cancelReason":{"type":"string"},"manualRefundAllowed":{"type":"boolean"},"gatewayRefundAllowed":{"type":"boolean"},"createdAt":{"type":"integer","format":"int64"}}},"SignupRequest":{"type":"object","properties":{"phoneNumber":{"type":"string","maxLength":10,"minLength":10,"pattern":"^\\d{10}$"},"name":{"type":"string","maxLength":100,"minLength":2},"password":{"type":"string","maxLength":128,"minLength":6},"otp":{"type":"string","pattern":"^\\d{6}$"},"deviceId":{"type":"string","maxLength":128,"minLength":0}},"required":["name","otp","password","phoneNumber"]},"AuthResponse":{"type":"object","properties":{"token":{"type":"string"},"refreshToken":{"type":"string"},"expiresIn":{"type":"integer","format":"int64"},"restaurantId":{"type":"integer","format":"int64"},"userName":{"type":"string"},"loginId":{"type":"string"},"userEmail":{"type":"string"},"whatsappNumber":{"type":"string"},"role":{"type":"string"}}},"SignupOtpRequest":{"type":"object","properties":{"phoneNumber":{"type":"string","pattern":"^\\d{10}$"},"otp":{"type":"string","maxLength":6,"minLength":6}},"required":["otp","phoneNumber"]},"ResetPasswordRequest":{"type":"object","properties":{"phoneNumber":{"type":"string","pattern":"^\\d{10}$"},"newPassword":{"type":"string","maxLength":128,"minLength":6},"otp":{"type":"string","maxLength":6,"minLength":6}},"required":["newPassword","otp","phoneNumber"]},"PasswordResetOtpRequest":{"type":"object","properties":{"phoneNumber":{"type":"string","pattern":"^\\d{10}$"}},"required":["phoneNumber"]},"RefreshRequest":{"type":"object","properties":{"refreshToken":{"type":"string"}},"required":["refreshToken"]},"LogoutBody":{"type":"object","properties":{"refreshToken":{"type":"string"}}},"LoginRequest":{"type":"object","properties":{"loginId":{"type":"string","maxLength":254,"minLength":10,"pattern":"^(\\d{10}|[^\\s@]+@[^\\s@]+\\.[^\\s@]+)$"},"password":{"type":"string","maxLength":128,"minLength":6},"deviceId":{"type":"string","maxLength":128,"minLength":0}},"required":["loginId","password"]},"GoogleLoginRequest":{"type":"object","properties":{"idToken":{"type":"string"},"deviceId":{"type":"string"}},"required":["idToken"]},"ChangePasswordRequest":{"type":"object","properties":{"currentPassword":{"type":"string"},"newPassword":{"type":"string","maxLength":128,"minLength":6}},"required":["currentPassword","newPassword"]},"MasterSyncResponseDTO":{"type":"object","properties":{"serverTimestamp":{"type":"integer","format":"int64"},"profiles":{"type":"array","items":{"$ref":"#/components/schemas/RestaurantProfileDTO"}},"users":{"type":"array","items":{"$ref":"#/components/schemas/UserDTO"}},"categories":{"type":"array","items":{"$ref":"#/components/schemas/CategoryDTO"}},"menuItems":{"type":"array","items":{"$ref":"#/components/schemas/MenuItemDTO"}},"itemVariants":{"type":"array","items":{"$ref":"#/components/schemas/ItemVariantDTO"}},"stockLogs":{"type":"array","items":{"$ref":"#/components/schemas/StockLogDTO"}},"bills":{"type":"array","items":{"$ref":"#/components/schemas/BillDTO"}},"billItems":{"type":"array","items":{"$ref":"#/components/schemas/BillItemDTO"}},"billPayments":{"type":"array","items":{"$ref":"#/components/schemas/BillPaymentDTO"}},"hasMore":{"type":"boolean"}}},"BusinessStaffListItemResponse":{"type":"object","properties":{"userId":{"type":"integer","format":"int64"},"name":{"type":"string"},"loginId":{"type":"string"},"email":{"type":"string"},"whatsappNumber":{"type":"string"},"role":{"type":"string"},"active":{"type":"boolean"},"updatedAt":{"type":"integer","format":"int64"}}},"BusinessMarketplaceSetupResponse":{"type":"object","properties":{"restaurantId":{"type":"integer","format":"int64"},"shopName":{"type":"string"},"paymentManagedByAdmin":{"type":"boolean"},"subMerchantStatus":{"type":"string"},"subMerchantId":{"type":"string"},"kycPortalUrl":{"type":"string"},"kycSubmittedAt":{"type":"integer","format":"int64"},"kycActivatedAt":{"type":"integer","format":"int64"}}},"BusinessDashboardResponse":{"type":"object","properties":{"restaurantId":{"type":"integer","format":"int64"},"shopName":{"type":"string"},"websiteEnabled":{"type":"boolean"},"printerEnabled":{"type":"boolean"},"kitchenPrinterEnabled":{"type":"boolean"},"totalStaff":{"type":"integer","format":"int64"},"totalMenuItems":{"type":"integer","format":"int64"},"posOrderCount":{"type":"integer","format":"int64"},"pendingPosPayments":{"type":"integer","format":"int64"},"totalRevenue":{"type":"number"},"todayRevenue":{"type":"number"},"refundedOrders":{"type":"integer","format":"int64"},"refundedAmount":{"type":"number"},"recentOrders":{"type":"array","items":{"$ref":"#/components/schemas/BusinessOrderListItemResponse"}}}},"AdminTransactionResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"restaurantId":{"type":"integer","format":"int64"},"shopName":{"type":"string"},"txnId":{"type":"string"},"easebuzzId":{"type":"string"},"status":{"type":"string"},"amount":{"type":"number"},"receivedAt":{"type":"integer","format":"int64"}}},"PageAdminTransactionResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"first":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/AdminTransactionResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"unpaged":{"type":"boolean"},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject"}}},"SortObject":{"type":"object","properties":{"unsorted":{"type":"boolean"},"sorted":{"type":"boolean"},"empty":{"type":"boolean"}}},"AdminSettlementResponse":{"type":"object","properties":{"restaurantId":{"type":"integer","format":"int64"},"shopName":{"type":"string"},"totalSettled":{"type":"number"},"totalCommission":{"type":"number"},"orderCount":{"type":"integer","format":"int64"},"lastSettledAt":{"type":"integer","format":"int64"}}},"AdminDashboardSummaryResponse":{"type":"object","properties":{"totalBusinesses":{"type":"integer","format":"int64"},"liveBusinesses":{"type":"integer","format":"int64"},"totalStaff":{"type":"integer","format":"int64"},"totalOrders":{"type":"integer","format":"int64"},"totalRevenue":{"type":"number"},"refundedOrders":{"type":"integer","format":"int64"},"refundedAmount":{"type":"number"}}},"AdminBusinessListItemResponse":{"type":"object","properties":{"restaurantId":{"type":"integer","format":"int64"},"shopName":{"type":"string"},"ownerName":{"type":"string"},"ownerLoginId":{"type":"string"},"whatsappNumber":{"type":"string"},"email":{"type":"string"},"websiteEnabled":{"type":"boolean"},"staffCount":{"type":"integer","format":"int64"},"menuCount":{"type":"integer","format":"int64"},"orderCount":{"type":"integer","format":"int64"},"updatedAt":{"type":"integer","format":"int64"}}},"AdminBusinessDetailResponse":{"type":"object","properties":{"restaurantId":{"type":"integer","format":"int64"},"shopName":{"type":"string"},"ownerName":{"type":"string"},"ownerLoginId":{"type":"string"},"ownerWhatsappNumber":{"type":"string"},"email":{"type":"string"},"shopAddress":{"type":"string"},"gstin":{"type":"string"},"fssaiNumber":{"type":"string"},"whatsappNumber":{"type":"string"},"currency":{"type":"string"},"timezone":{"type":"string"},"websiteEnabled":{"type":"boolean"},"gstEnabled":{"type":"boolean"},"printerEnabled":{"type":"boolean"},"staffCount":{"type":"integer","format":"int64"},"menuCount":{"type":"integer","format":"int64"},"posOrderCount":{"type":"integer","format":"int64"},"totalRevenue":{"type":"number"},"createdAt":{"type":"integer","format":"int64"},"updatedAt":{"type":"integer","format":"int64"}}}},"securitySchemes":{"Bearer Authentication":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}